<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>Job Portal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>jobseeklogincheck</display-name>
    <servlet-name>jobseeklogincheck</servlet-name>
    <servlet-class>jobseeklogincheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobseeklogincheck</servlet-name>
    <url-pattern>/jobseeklogincheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>seeklogincheck</display-name>
    <servlet-name>seeklogincheck</servlet-name>
    <servlet-class>seeklogincheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seeklogincheck</servlet-name>
    <url-pattern>/seeklogincheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>abc</display-name>
    <servlet-name>abc</servlet-name>
    <servlet-class>abc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>companylogincheck</display-name>
    <servlet-name>companylogincheck</servlet-name>
    <servlet-class>companylogincheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>companylogincheck</servlet-name>
    <url-pattern>/companylogincheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileupload</display-name>
    <servlet-name>fileupload</servlet-name>
    <servlet-class>fileupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileupload</servlet-name>
    <url-pattern>/fileupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchjobjava</display-name>
    <servlet-name>searchjobjava</servlet-name>
    <servlet-class>searchjobjava</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchjobjava</servlet-name>
    <url-pattern>/searchjobjava</url-pattern>
  </servlet-mapping>
</web-app>